<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WigoLove</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"
          integrity="sha512-gc3xjCmIy673V6MyOAZhIW93xhM9ei1I+gLbmFjUHIjocENRsLX/QUE1htk5q1XV2D/iie/VQ8DXI6Vu8bexvQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script type="text/javascript" src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"
            integrity="sha512-XMVd28F1oH/O71fzwBnV7HucLxVwtxf26XV8P4wPk26EDxuGZ91N8bsOttmnomcCD3CS5ZMRL50H0GgOHvegtg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"
            integrity="sha512-ozq8xQKq6urvuU6jNgkfqAmT7jKN2XumbrX1JiB3TnF7tI48DPI4Gy1GXKD/V3EExgAs1V+pRO7vwtS1LHg0Gw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"
            integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.10.0/localforage.min.js"
            integrity="sha512-+BMamP0e7wn39JGL8nKAZ3yAQT2dL5oaXWr4ZYlTGkKOaoXM/Yj7c4oy50Ngz5yoUutAG17flueD4F6QpTlPng=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="style.css"/>
    <script type="text/javascript" src="lang.js"></script>
    <script type="text/javascript" src="cartridge.js"></script>
</head>
<body>
<section id="app" class="section">
    <div class="container">
        <div class="is-flex">
            <h1 class="title is-flex-grow-1">
                <span v-if="wigo.name">{{ wigo.name }} ({{ wigo.zones.length }})</span>
                <span v-else>WigoLove</span>
            </h1>
            <button type="button" class="button is-small mx-2" @click="clearForm()">Clear form</button>
            <div class="file">
                <label class="file-label is-small">
                    <input class="file-input" type="file" accept=".json"
                           @change="(e) => onJsonImport(e)">
                    <span class="file-cta">
                          <span class="file-label">Import WigoLove JSON</span>
                        </span>
                </label>
            </div>
        </div>
        <p class="subtitle">Create <em>I ❤️ place</em> Wherigo Scenarios easily.</p>

        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" v-model="wigo.name" @blur="saveInLocalStorage()">
            </div>
            <p class="help">Try not to use diacritic characters here.</p>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="textarea" v-model="wigo.description" @blur="saveInLocalStorage()"></textarea>
            </div>
            <p class="help">
                It will be used as the scenario description and it will be displayed as the first message for
                the user. Welcome user in the place and tell him what is the aim of this game.
            </p>
        </div>

        <div class="field">
            <label class="label">The number of points required to finish the game</label>
            <div class="control">
                <input class="input" type="number" v-model="wigo.requiredPoints" min="1" max="1000"
                       @blur="saveInLocalStorage()">
            </div>
            <p class="help">
                When collecting all zones, the player will score {{ totalPoints }} points in current configuration.
            </p>
        </div>

        <div class="field">
            <label class="label">Cover image / icon</label>
            <div class="file">
                <label class="file-label">
                    <input class="file-input" type="file" accept="image/png, image/gif, image/jpeg"
                           @change="(e) => onCoverChange(e)">
                    <span class="file-cta">
                          <span class="file-label">Choose a file…</span>
                        </span>
                </label>
            </div>
            <div v-if="wigo.coverUrl">
                <div class="my-3">
                    <img :src="wigo.coverUrl" class="img-preview">
                </div>
                <button class="button is-small" type="button" @click="deleteCoverImage()">
                    Delete cover image
                </button>
            </div>
        </div>

        <div class="field">
            <label class="label">Starting point</label>
            <div>
                <a @click="showMap()">{{ wigo.startCoordinates.lat }}, {{ wigo.startCoordinates.lng }}</a>
            </div>
        </div>

        <div class="field">
            <label class="label">Language of messages and buttons</label>
            <div class="select">
                <select v-model="wigo.localeCode" @change="saveInLocalStorage()">
                    <option v-for="locale in availableLocales" :key="locale">{{ locale }}</option>
                </select>
            </div>
        </div>

        <div class="card my-5">
            <div class="card-content">
                <h2 class="title">Final geocache</h2>
                <p class="mb-3">
                    {{ wigo.finalLat.letter }} {{ wigo.finalLat.first }}&deg; {{ pad(wigo.finalLat.second, 2)
                    }}.{{ pad(wigo.finalLat.third, 3) }}'
                    {{ wigo.finalLng.letter }} {{ wigo.finalLng.first }}&deg; {{ pad(wigo.finalLng.second, 2)
                    }}.{{ pad(wigo.finalLng.third, 3) }}'
                </p>
                <div class="field">
                    <label class="label">Latitude</label>
                    <div class="field-body">
                        <button class="button mr-2" type="button"
                                @click="wigo.finalLat.letter = wigo.finalLat.letter === 'N' ? 'S' : 'N'">
                            {{ wigo.finalLat.letter }}
                        </button>
                        <div class="field is-flex-grow-0">
                            <input class="input" type="number" v-model="wigo.finalLat.first" min="0" max="90"
                                   style="width: 100px" @blur="saveInLocalStorage()">
                        </div>
                        <div class="field is-flex-grow-0">
                            <input class="input" v-model="wigo.finalLat.second" type="number" style="width: 100px"
                                   @blur="saveInLocalStorage()">
                        </div>
                        <div class="field is-flex-grow-0">
                            <p class="control">
                                <input class="input" v-model="wigo.finalLat.third" type="number" style="width: 100px"
                                       @blur="saveInLocalStorage()">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Longitude</label>
                    <div class="field-body">
                        <button class="button mr-2" type="button"
                                @click="wigo.finalLng.letter = wigo.finalLng.letter === 'E' ? 'W' : 'E'">
                            {{ wigo.finalLng.letter }}
                        </button>
                        <div class="field is-flex-grow-0">
                            <input class="input" type="number" v-model="wigo.finalLng.first" min="0" max="180"
                                   style="width: 100px" @blur="saveInLocalStorage()">
                        </div>
                        <div class="field is-flex-grow-0">
                            <input class="input" v-model="wigo.finalLng.second" type="number" style="width: 100px"
                                   @blur="saveInLocalStorage()">
                        </div>
                        <div class="field is-flex-grow-0">
                            <p class="control">
                                <input class="input" v-model="wigo.finalLng.third" type="number" style="width: 100px"
                                       @blur="saveInLocalStorage()">
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Hint</label>
                    <div class="control">
                        <textarea class="textarea" v-model="wigo.hint" @blur="saveInLocalStorage()"></textarea>
                    </div>
                    <p class="help">
                        It will be displayed for the user after completing the scenario.
                    </p>
                </div>
                <div class="field">
                    <label class="label">Spoiler</label>
                    <div class="file">
                        <label class="file-label">
                            <input class="file-input" type="file" accept="image/png, image/gif, image/jpeg"
                                   @change="(e) => onSpoilerChange(e)">
                            <span class="file-cta">
                          <span class="file-label">Choose a file…</span>
                        </span>
                        </label>
                    </div>
                    <div v-if="wigo.spoilerUrl">
                        <div class="my-3">
                            <img :src="wigo.spoilerUrl" class="img-preview">
                        </div>
                        <button class="button is-small" type="button" @click="deleteSpoilerImage()">Delete spoiler
                            image
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div v-for="zone in wigo.zones" :key="zone.id" class="my-5 card">
            <div class="card-content">
                <div class="is-flex mb-2">
                    <h2 class="title is-flex-grow-1">{{ zone.name }}</h2>
                    <button class="button is-small" type="button" @click="deleteZone(zone)">Delete</button>
                </div>
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" v-model="zone.name" @blur="saveInLocalStorage()">
                    </div>
                    <p class="help">Try not to use diacritic characters here.</p>
                </div>

                <div class="field">
                    <label class="label">Description</label>
                    <div class="control">
                        <textarea class="textarea" v-model="zone.description" @blur="saveInLocalStorage()"></textarea>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Number of points for collecting this zone</label>
                    <div class="control">
                        <input type="number" class="input" v-model="zone.points" max="5" min="1"
                               @blur="saveInLocalStorage()">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Area</label>
                    <a @click="editZoneArea(zone)">{{ zone.area.length }} geographic points</a>
                </div>

                <div class="field">
                    <label class="label">Image</label>
                    <div class="file">
                        <label class="file-label">
                            <input class="file-input" type="file" accept="image/png, image/gif, image/jpeg"
                                   @change="(e) => onFileChange(zone, e)">
                            <span class="file-cta">
                          <span class="file-label">Choose a file…</span>
                        </span>
                        </label>
                    </div>
                    <div v-if="zone.imageUrl">
                        <div class="my-3">
                            <img v-if="zone.imageUrl" :src="zone.imageUrl" class="img-preview">
                        </div>
                        <button class="button is-small" type="button" @click="deleteImage(zone)">Delete image</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="is-flex">
            <div class="is-flex-grow-1">
                <button class="button button-primary" @click="addZone()">Add new zone</button>
            </div>
            <div>
                <div>

                    <button type="button" class="button mx-2" @click="downloadJson()">
                        Download WigoLove JSON
                    </button>
                    <button type="button" class="button is-success" @click="downloadGwz()">
                        Download GWZ
                    </button>
                </div>
                <p class="help">Download WigoLove JSON to import it here for editing in the future.</p>
                <p class="help">Download GWZ for compiling on wherigo.com website.</p>
            </div>
        </div>
    </div>

    <footer class="has-text-centered mt-6 mb-0 p-0 is-size-7">
        Made with ❤️ for geocaching and web by <a
            href="https://www.geocaching.com/p/?guid=49369c87-1a23-4cd6-a054-3c76cf2399f6">kranfagel</a>.
    </footer>

    <div :class="['modal map-modal', {'is-active': mapModalOpened}]">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div id="map"></div>
            <div class="mt-3 has-text-right">
                <button type="button" class="button is-primary" @click="saveEditedZoneArea()">OK</button>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="mapModalOpened = false"></button>
    </div>
</section>

<script>
    const {createApp} = Vue;
    let map;
    let editableLayers;
    let nonEditableLayers;
    let drawControl;
    let drawEditControl;
    let marker;

    createApp({
        data() {
            return {
                mapModalOpened: false,
                addingZone: false,
                editingZone: undefined,
                currentPolygonCoords: [],
                wigo: {
                    name: '',
                    description: '',
                    requiredPoints: 15,
                    hint: '',
                    spoilerUrl: '',
                    coverUrl: '',
                    startCoordinates: {lat: 50, lng: 19},
                    finalLat: {letter: 'N', first: 50, second: 40, third: 333},
                    finalLng: {letter: 'E', first: 19, second: 48, third: 888},
                    localeCode: 'EN',
                    zones: [],
                }
            }
        },
        mounted() {
            localforage.getItem('wigo').then(wigo => {
                if (wigo) {
                    this.wigo = JSON.parse(wigo);
                }
            });
        },
        methods: {
            clearForm() {
                if (confirm('All data in the form will be lost. Continue?')) {
                    this.wigo = {
                        name: '',
                        description: '',
                        requiredPoints: 15,
                        hint: '',
                        spoilerUrl: '',
                        coverUrl: '',
                        startCoordinates: {lat: 50, lng: 19},
                        finalLat: {letter: 'N', first: 50, second: 40, third: 333},
                        finalLng: {letter: 'E', first: 19, second: 48, third: 888},
                        localeCode: 'EN',
                        zones: [],
                    };
                }
            },
            onJsonImport(e) {
                const reader = new FileReader();
                reader.onload = (evt) => {
                    const wigo = JSON.parse(evt.target.result);
                    if (wigo && wigo.requiredPoints) {
                        if (confirm('This will overwrite current values. Continue?')) {
                            this.wigo = wigo;
                            this.saveInLocalStorage();
                        }
                    } else {
                        alert('The file is corrupted.')
                    }
                };
                reader.onerror = function (e) {
                    alert('Unrecognized file format. ' + e.message);
                }
                reader.readAsText(e.target.files[0], "UTF-8");
            },
            // onGwzImport(e) {
            //     JSZip.loadAsync(e.target.files[0])
            //         .then((zip) => {
            //             let found = false;
            //             zip.forEach((relativePath, zipEntry) => {
            //                 if (zipEntry.name === 'i_love_wigo.json') {
            //                     found = true;
            //                     zip.file(zipEntry.name).async('string')
            //                         .then((text) => {
            //                             const wigo = JSON.parse(text);
            //                             if (wigo && wigo.requiredPoints) {
            //                                 if (confirm('This will overwrite current values. Continue?')) {
            //                                     this.wigo = wigo;
            //                                     this.saveInLocalStorage();
            //                                 }
            //                             } else {
            //                                 alert('The file is corrupted.')
            //                             }
            //                         })
            //                         .catch(() => alert('Could not read the file.'));
            //                 }
            //             });
            //             if (!found) {
            //                 alert('This GWZ was not created by WigoLove. Cannot import. Sorry.');
            //             }
            //         }, function (e) {
            //             alert('Unrecognized file format. ' + e.message);
            //         });
            // },
            addZone() {
                this.showMap().then(() => {
                    this.addingZone = true;
                    map.addControl(drawControl);
                });
            },
            deleteZone(zone) {
                if (confirm(`Are you sure you want to delete ${zone.name}?`)) {
                    this.wigo.zones.splice(this.wigo.zones.indexOf(zone), 1);
                    this.saveInLocalStorage();
                }
            },
            prepareImage(e) {
                return new Promise((resolve) => {
                    const FR = new FileReader();
                    FR.addEventListener("load", (readerEvent) => {
                        var image = new Image();
                        image.onload = () => {
                            let canvas = document.createElement('canvas'),
                                max_size = 800,
                                width = image.width,
                                height = image.height;
                            if (width > height) {
                                if (width > max_size) {
                                    height *= max_size / width;
                                    width = max_size;
                                }
                            } else {
                                if (height > max_size) {
                                    width *= max_size / height;
                                    height = max_size;
                                }
                            }
                            canvas.width = width;
                            canvas.height = height;
                            canvas.getContext('2d').drawImage(image, 0, 0, width, height);
                            const dataUrl = canvas.toDataURL('image/jpeg');
                            resolve(dataUrl);
                        }
                        image.src = readerEvent.target.result;
                    });
                    FR.readAsDataURL(e.target.files[0]);
                });
            },
            onFileChange(zone, e) {
                this.prepareImage(e)
                    .then(imageUrl => zone.imageUrl = imageUrl)
                    .then(() => this.saveInLocalStorage());
            },
            deleteImage(zone) {
                zone.imageUrl = '';
                this.saveInLocalStorage();
            },
            onSpoilerChange(e) {
                this.prepareImage(e)
                    .then(imageUrl => this.wigo.spoilerUrl = imageUrl)
                    .then(() => this.saveInLocalStorage());
            },
            deleteSpoilerImage() {
                this.wigo.spoilerUrl = '';
                this.saveInLocalStorage();
            },
            onCoverChange(e) {
                this.prepareImage(e)
                    .then(imageUrl => this.wigo.coverUrl = imageUrl)
                    .then(() => this.saveInLocalStorage());
            },
            deleteCoverImage() {
                this.wigo.coverUrl = '';
                this.saveInLocalStorage();
            },
            updateMarker() {
                if (marker) {
                    marker.remove();
                }
                marker = L.marker(this.wigo.startCoordinates || [50, 19]).addTo(map);
            },
            editZoneArea(zone) {
                this.showMap(zone.area.length === 0).then(() => {
                    this.editingZone = zone;
                    this.currentPolygonCoords = zone.area;
                    if (zone.area.length) {
                        const polygon = L.polygon(zone.area);
                        editableLayers.addLayer(polygon);
                        map.fitBounds(polygon.getBounds());
                        map.addControl(drawEditControl);
                    } else {
                        map.addControl(drawControl);
                    }
                });
            },
            saveEditedZoneArea() {
                if (this.editingZone) {
                    this.editingZone.area = this.currentPolygonCoords;
                } else if (this.addingZone) {
                    if (this.currentPolygonCoords && this.currentPolygonCoords.length > 2) {
                        this.wigo.zones.push({
                            id: crypto.randomUUID(),
                            name: '',
                            description: '',
                            photo: '',
                            points: 1,
                            imageUrl: '',
                            area: this.currentPolygonCoords
                        });
                    }
                }
                this.currentPolygonCoords = undefined;
                this.addingZone = undefined;
                this.editingZone = undefined;
                this.mapModalOpened = false;
                this.saveInLocalStorage();
            },
            saveInLocalStorage() {
                localforage.setItem('wigo', JSON.stringify(this.wigo));
            },
            showMap(withFit = true) {
                this.editingZone = undefined;
                this.addingZone = false;
                this.mapModalOpened = true;
                const mapReady = new Promise((resolve) => {
                    if (!map) {
                        this.$nextTick(() => {
                            this.initMap();
                            console.log('inited');
                            resolve();
                        });
                    } else {
                        resolve();
                    }
                });
                mapReady.then(() => {
                    map.removeControl(drawControl);
                    map.removeControl(drawEditControl);
                    editableLayers.clearLayers();
                    nonEditableLayers.clearLayers();
                    const bg = L.polygon(this.wigo.zones.map(z => z.area));
                    bg.setStyle({color: '#FFFF00', fillColor: '#FFFF00'});
                    nonEditableLayers.addLayer(bg);
                    this.updateMarker();
                    if (withFit) {
                        map.fitBounds(bg.getBounds());
                    }
                });
                return mapReady;
            },
            initMap() {
                map = L.map('map', {doubleClickZoom: false}).setView([50, 19], 6);

                L.tileLayer(
                    'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: 'Data © <a href="http://osm.org/copyright">OpenStreetMap</a>',
                        maxZoom: 18
                    }).addTo(map);

                nonEditableLayers = new L.FeatureGroup();
                map.addLayer(nonEditableLayers);
                editableLayers = new L.FeatureGroup();
                map.addLayer(editableLayers);
                drawControl = new L.Control.Draw({
                    draw: {
                        polygon: {allowIntersection: false, drawError: {color: '#FF0000'}},
                        polyline: false,
                        circle: false,
                        circlemarker: false,
                        rectangle: false,
                        marker: false,
                    },
                    edit: false,
                });

                drawEditControl = new L.Control.Draw({
                    draw: false,
                    edit: {
                        featureGroup: editableLayers, //REQUIRED!!
                        remove: false
                    }
                });

                map.on('draw:created', (e) => {
                    this.currentPolygonCoords = e.layer.getLatLngs()[0];
                    map.removeControl(drawControl);
                    map.addControl(drawEditControl);
                    editableLayers.addLayer(e.layer);
                });

                map.on('draw:edited', (e) => {
                    e.layers.eachLayer((layer) => {
                        this.currentPolygonCoords = layer.getLatLngs()[0];
                        console.log(this.currentPolygonCoords);
                    });
                });

                map.on('click', (e) => {
                    if (!this.editingZone && !this.addingZone) {
                        this.wigo.startCoordinates = e.latlng;
                        this.updateMarker();
                    }
                });
            },
            downloadJson() {
                const blob = new Blob([JSON.stringify(this.wigo)], {type: "text/plain;charset=utf-8"});
                saveAs(blob, "wigolove.json");
            },
            downloadGwz() {
                const zip = new JSZip();
                zip.file("_cartridge.lua", cartridgeCode(this.wigo, locale[this.wigo.localeCode || 'EN']));
                // var img = zip.folder("images");
                for (let zone of this.wigo.zones) {
                    if (zone.imageUrl) {
                        const imageData = zone.imageUrl.split(',')[1];
                        zip.file(`${zone.id}.jpg`, imageData, {base64: true});
                    }
                }
                if (this.wigo.spoilerUrl) {
                    const imageData = this.wigo.spoilerUrl.split(',')[1];
                    zip.file(`psikus.jpg`, imageData, {base64: true});
                }
                if (this.wigo.coverUrl) {
                    const imageData = this.wigo.coverUrl.split(',')[1];
                    zip.file(`cover.jpg`, imageData, {base64: true});
                }
                zip.file('i_love_wigo.json', JSON.stringify(this.wigo));
                zip.generateAsync({type: "blob"})
                    .then(function (content) {
                        saveAs(content, "i_love_wigo.gwz");
                    });
            },
            pad(num, size) {
                const s = "000000000" + num;
                return s.substring(s.length - size);
            },
        },
        computed: {
            availableLocales() {
                return Object.keys(locale);
            },
            totalPoints() {
                return this.wigo.zones.map(z => z.points).reduce((a, b) => a + b, 0);
            }
        }
    }).mount('#app');
</script>
</body>
</html>
