<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WigoLove</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"
          integrity="sha512-gc3xjCmIy673V6MyOAZhIW93xhM9ei1I+gLbmFjUHIjocENRsLX/QUE1htk5q1XV2D/iie/VQ8DXI6Vu8bexvQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="style.css"/>
    <script type="text/javascript" src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"
            integrity="sha512-XMVd28F1oH/O71fzwBnV7HucLxVwtxf26XV8P4wPk26EDxuGZ91N8bsOttmnomcCD3CS5ZMRL50H0GgOHvegtg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"
            integrity="sha512-ozq8xQKq6urvuU6jNgkfqAmT7jKN2XumbrX1JiB3TnF7tI48DPI4Gy1GXKD/V3EExgAs1V+pRO7vwtS1LHg0Gw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<section id="app" class="section">
    <div class="container">
        <h1 class="title">WigoLove</h1>
        <p class="subtitle">Create <em>I ❤️ place</em> Wherigo Scenarios easily.</p>

        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" v-model="wigo.name" @blur="saveInLocalStorage()">
            </div>
            <p class="help">Try not to use diacritic characters here.</p>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="textarea" v-model="wigo.description" @blur="saveInLocalStorage()"></textarea>
            </div>
            <p class="help">
                It will be used as the scenario description and it will be displayed as the first message for
                the user. Welcome user in the place and tell him what is the aim of this game.
            </p>
        </div>

        <div class="field">
            <label class="label">The number of points required to finish the game</label>
            <div class="control">
                <input class="input" type="number" v-model="wigo.requiredPoints" min="1" max="1000"
                       @blur="saveInLocalStorage()">
            </div>
        </div>

        <a @click="showMap()">Show map of all zones</a>

        <div v-for="zone in wigo.zones" :key="zone.id" class="my-3">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" type="text" v-model="zone.name" @blur="saveInLocalStorage()">
                </div>
                <p class="help">Try not to use diacritic characters here.</p>
            </div>

            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea" v-model="zone.description" @blur="saveInLocalStorage()"></textarea>
                </div>
            </div>

            <div class="field">
                <label class="label">Area</label>
                <a @click="editZoneArea(zone)">{{ zone.area.length }} points</a>
            </div>
        </div>

        <button class="button button-primary" @click="addZone()">Add new zone</button>
    </div>

    <div :class="['modal map-modal', {'is-active': mapModalOpened}]">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div id="map"></div>
            <div class="mt-3 has-text-right">
                <button type="button" class="button is-primary" @click="saveEditedZoneArea()">OK</button>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="mapModalOpened = false"></button>
    </div>
</section>

<script>
    const {createApp} = Vue
    let map;
    let editableLayers;
    let nonEditableLayers;
    let drawControl;
    let drawEditControl;

    createApp({
        data() {
            return {
                mapModalOpened: false,
                editingZone: undefined,
                currentPolygonCoords: [],
                wigo: {
                    name: 'I love Krakow',
                    description: '',
                    requiredPoints: 15,
                    zones: [],
                }
            }
        },
        mounted() {
            const wigo = localStorage.getItem('wigo');
            if (wigo) {
                this.wigo = JSON.parse(wigo);
            }
        },
        methods: {
            addZone() {
                this.wigo.zones.push({
                    id: crypto.randomUUID(),
                    name: '',
                    description: '',
                    photo: '',
                    points: 1,
                    area: []
                });
            },
            editZoneArea(zone) {
                this.editingZone = zone;
                this.currentPolygonCoords = zone.area;
                this.showMap(zone.area.length === 0).then(() => {
                    if (zone.area.length) {
                        const polygon = L.polygon(zone.area);
                        editableLayers.addLayer(polygon);
                        map.fitBounds(polygon.getBounds());
                        map.addControl(drawEditControl);
                    } else {
                        map.addControl(drawControl);
                    }
                });
            },
            saveEditedZoneArea() {
                this.editingZone.area = this.currentPolygonCoords;
                this.currentPolygonCoords = undefined;
                this.editingZone = undefined;
                this.mapModalOpened = false;
                this.saveInLocalStorage();
            },
            saveInLocalStorage() {
                localStorage.setItem('wigo', JSON.stringify(this.wigo));
            },
            showMap(withFit = true) {
                this.mapModalOpened = true;
                const mapReady = new Promise((resolve) => {
                    if (!map) {
                        this.$nextTick(() => {
                            this.initMap();
                            console.log('inited');
                            resolve();
                        });
                    } else {
                        resolve();
                    }
                });
                mapReady.then(() => {
                    map.removeControl(drawControl);
                    map.removeControl(drawEditControl);
                    editableLayers.clearLayers();
                    nonEditableLayers.clearLayers();
                    const bg = L.polygon(this.wigo.zones.map(z => z.area));
                    bg.setStyle({color: '#FFFF00', fillColor: '#FFFF00'});
                    nonEditableLayers.addLayer(bg);
                    if (withFit) {
                        map.fitBounds(bg.getBounds());
                    }
                });
                return mapReady;
            },
            initMap() {
                map = L.map('map', {doubleClickZoom: false}).setView([50, 19], 6);

                L.tileLayer(
                    'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: 'Data © <a href="http://osm.org/copyright">OpenStreetMap</a>',
                        maxZoom: 18
                    }).addTo(map);

                nonEditableLayers = new L.FeatureGroup();
                map.addLayer(nonEditableLayers);
                editableLayers = new L.FeatureGroup();
                map.addLayer(editableLayers);
                drawControl = new L.Control.Draw({
                    draw: {
                        polygon: {allowIntersection: false, drawError: {color: '#FF0000'}},
                        polyline: false,
                        circle: false,
                        circlemarker: false,
                        rectangle: false,
                        marker: false,
                    },
                    edit: false,
                });

                drawEditControl = new L.Control.Draw({
                    draw: false,
                    edit: {
                        featureGroup: editableLayers, //REQUIRED!!
                        remove: false
                    }
                });

                map.on('draw:created', (e) => {
                    this.currentPolygonCoords = e.layer.getLatLngs()[0];
                    map.removeControl(drawControl);
                    map.addControl(drawEditControl);
                    editableLayers.addLayer(e.layer);
                });

                map.on('draw:edited', (e) => {
                    e.layers.eachLayer((layer) => {
                        this.currentPolygonCoords = layer.getLatLngs()[0];
                        console.log(this.currentPolygonCoords);
                    });
                });
            },
        }
    }).mount('#app');
</script>
</body>
</html>
